
@import "main.scss";

body{
    overflow-x: hidden;
}

.header{
    @include background();
    @include flex();
}

// .header h1{
//     color: #FFF;
//     margin: 0 auto;
//     font-size: 98px;
// }


h1, .title, .paragraph{
    @extend %text-centered;
}

.pauseAndFeatures{
    position: relative;
}

.pause{
    @include background();
    height: 65vh;
    position: absolute;
}

.featuresContainer{
    position: relative;
    background: linear-gradient(
        to top, 
        rgba(29,37,45,1) 0%,
        rgba(29,37,45,1) 50%,
        rgba(29,37,45,0.25) 90%,
        rgba(29,37,45,0) 100%
     );
     background-size: 100%;
     width: 100%;
    }

.title{
    color: $darkBlue;
    text-transform: uppercase;
    margin: 20px auto;
}


.paragraph{
    margin: 40px auto;
    font-size: 18px;
}

#videoPlayer{
    width: 100%;
    height: 400px;
    // border: 4px solid white;
    @include flex();
}

#playBtn{
    text-align: center;
    padding-top: 12px;
    padding-left: 5px;
    color: #FFF;
    border: 3px solid #FFF;
    border-radius: 100%;
    font-size: 30px;
    height: 60px;
    width: 60px;
    cursor: pointer;
}

#trailer{
    color: #FFF;
    font-size: 18px;
}

.featuresRow{
    //    margin-top: 50px;
    // padding-top: 50px;
}

.featuresDiv{
    // margin-top: 50px;
    padding: 0;
    cursor: pointer;
    color: white;
}


.featuresDivTitle{
    text-transform: uppercase;
}

.featuresDiv{
    @include flex();
    // height: 250px;
}

.featuresDivDesc, .featuresDivImg, .featuresDivTitle{
    opacity: 0.75;
}

.featuresDiv:hover .featuresDivTitle, .featuresDiv:hover .featuresDivImg, .featuresDiv:hover .featuresDivDesc {
    opacity: 1;
}

.featuresDivContent{
    width: 100%;
    height: 100px;
}

.featuresDivImg{
    height: 150px !important;
    width: 100%;
}

// .imgText{
//     color: #FFF;
//     font-weight: bold;
//     position: absolute;
//     bottom: 0%;
//     left: 10%;
// }


.media{
    margin-top: -5px !important;
    padding-top: 170px;
    padding-bottom: 200px;
    background: $darkBlue;
    width: 100%;
}

#mediaImg{
   border-top: 2px solid #FFF; 
   border-bottom: 2px solid #FFF; 
   display: flex;
}

#mediaContent{
    width: 100%;
    height: 100%;
    @include flex();
}

#mediaDesc{
    color: #FFF;
    margin-bottom: 20px;
}

#mediaBtn{
    border: none;
    border-radius: 10px;
    background: #FFF;
    color: $darkBlue;
    font-weight: bold;
    width: 100px;
    height: 40px;
    text-align: center;
    opacity: 0.75;
    &:hover{
        opacity: 1;
    }
}

.imgGrid{
    margin: 0;
    height: 200px;
    width: 100%;
    border-bottom: none;
    border-right: none;
    cursor: pointer;
    opacity: 0.85;
    &:hover{
        opacity: 1;
    }

}


.newsFeed{
    height: 110vh;
}

.tweets{
    float: left;
    width: 25%;
    height: 110vh;
    overflow-y: auto;
}

/* SCROLL */

.tweets::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
  }
  
.tweets::-webkit-scrollbar {
    width: 15px;
    background-color: #F5F5F5;
  }
  
.tweets::-webkit-scrollbar-thumb {
    // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: $darkBlue;
  }

.pageLogo{
    float: left;
    width: 50%;
    @include flex();
    height: 100%;
    position: relative;
}


#upToDate{
    position: absolute;
    top: 3%;
}

#logo{
    height: 200px;
    width: 200px;
}

.facebook{
    float: right;
    width: 25%;
    height: 100vh;
    overflow-y: auto;
}

// tweets

.embededPosts{
    height: 72vh;
    overflow-y: auto;
    overflow-x: hidden;
}


// footer


.footer{
    width: 100%;
    background: $darkBlue;
    height: 20vh;
}

.footerLeft{
    width: 50%;
    float: left;
    height: 20vh;
    border-right: 2px solid darken($darkBlue, 5%);
    @include flex();
    
}

.footerRight{
    width: 50%;
    float: right;
    height: 20vh;
    @include flex();
}

.getInTouchUl{
    width: 300px;
    float: left;
    padding: 0;
    padding-top: 3vh;
    // margin-left: 10%;
}


.getInTouchList{
    color: #FFF;
    opacity: 0.75;
    cursor: pointer;
    float: left;
    margin-left: 40px;
    &:hover{
        opacity: 1;
    }
}


.buyNow{
    margin-top: 0;
    float: right;
    color: #FFF;
    cursor: pointer;
    opacity: 0.75;
    position: relative;
    &:hover{
        opacity: 1;
    }
}

.rights{
    color: #FFF;
    float: right
    // margin: 0 auto;
    // display: block;
    // text-align: center;
    // padding-top: 3vh;
}


// Modal

.modal {
    display: none; 
    width: 100%; 
    height: 100%;
    // overflow: auto; /* Enable scroll if needed */
    background-color: rgba(51, 51, 51, 0.9); /* Fallback color */
    overflow: hidden;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
  }
  
  /* Modal Content */
  .modal-content {
    width: 51%;
    height: 66%;
    padding: none;
    margin: none;
    background: transparent;
    border: transparent;
    @include shadowBottom(0, 8px, 6px, -6px, #000);
  }
  
  .modalImg{
    height: 100%;
    width: 100%;
    border: transparent;
  }
  
  
  .arrowBtn{
    top: 50%;
    position: absolute;
    width: 60px;
    height: 60px;
    background: transparent;
    color: #AAA;
    border: none;
  
    &:hover{
      //background: darken(#DDD, 15%);
      color: #FFF;
    }
  
    &:active{
      border: none !important;
      outline-width: 0 !important;
      box-shadow: none;
    }
    
    &:focus{
      border: none !important;
      outline-width: 0 !important;
    }
  
  }
  
  #leftArrowBtn{
    left: -20%;
  }
  
  #rightArrowBtn{
    right: -20%;
  }
  
  .closeModal{
    color: #333;
    position: absolute;
    top: 4%;
    right: 4%;
    font-size: 32px;
    cursor: pointer;
    padding: none;
  
    &:hover{
      color: lighten(#333, 30%);
    }
  }

  
  /* Modal Animation */
.modal-content {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }



  /* MEDIA */

  .rows {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

.columns {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.columns img {
    margin-top: 8px !important;
    vertical-align: middle;
}

@media screen and (max-width: 800px) {
    .columns {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .columns {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}