
@import "main.scss";

body{
    overflow-x: hidden;
}

.header{
    // background: url(../../img/cover.jpg);
    @include background();
}

// .about{
//     width: 90%;
//     margin: 0 auto;
//     display: blocK;
//     border: 2px solid blue;
// }


.contentContainer{
     background: $darkBlue;
     width: 100%;
}

.title{
    text-transform: uppercase;
    margin: 20px auto;
}

.title, .paragraph{
    @extend %text-centered;
}

.paragraph{
    margin: 40px auto;
    font-size: 18px;
}

.pause{
    @include background();
    height: 45vh;
}

.featuresRow{
    margin-top: 70px;
}

.featuresImg{
    height: 250px !important;
    width: 100%;
}

.featuresDiv{
    @include flex();
    height: 250px;
}

.featuresParagraph{
    color: #FFF;
    font-size: 16px;
}

.multiplayerImg{
    height: 150px !important;
    width: 100%;
    position: relative;
    cursor: pointer;
    opacity: 0.65;
    &:hover{
        border-bottom: 5px solid #FFF;
        opacity: 1;
    }
}

.imgText{
    color: #FFF;
    font-weight: bold;
    position: absolute;
    bottom: 0%;
    left: 10%;
}

// .col-xs-12{
//     border: 2px solid blue;
//     width: 80% !important;
//     margin: 0 auto !important;
//     display: block;
// }
