/* Variables */



/* Mixins */

@mixin shadowBottom($top, $down, $left, $right, $color){
    -webkit-box-shadow: $top $down $left $right $color;  
    -moz-box-shadow:    $top $down $left $right $color;  
    box-shadow:         $top $down $left $right $color;  
   }


@mixin flex() {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

@mixin background() {
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
}


%text-centered{
    display: block;
    text-align: center;
}

